<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TOP HOTELS OF GRECEE</title>
    <link rel="stylesheet" href="hotels.component.scss">
</head>

<body>
    <div class="main-head">
        <div class="banner-text">
            <h1><span>HOTELS GREECE</span></h1>
            <h2>Best <span> HOTELS </span> from <span>GREECE</span></h2>
        </div>
        <div class="btn">
            <button>Book Room</button>
        </div>
    </div>
    <div class="container">
        <div class="box box1">
            <h1>HOTEL GRANDE BRETAGNE,ATHENS</h1>
            <p> The Hotel Grande Bretagne, a historic landmark situated in the very heart of Athens and established in 1874, offers breathtaking views of the famed Acropolis and Parthenon from its rooftop. This palatial hotel, featuring opulent artwork and
                precious antiques,has hosted esteemed personalities and heads of states who have experienced the renowned Royal Suite as well as the exclusive butler service. The multi-national guests of this majestic property enjoy the meticulous attention
                to detail of all the 320 rooms & suites through the perfect matching of old-world elegance with state-of-the-art facilities. All accommodations feature sumptuous fabrics, original artwork and restored antiques from Christie’s and Sotheby’s.
                Hotel facilities include two distinctive restaurants, two swimming pools (one indoor, one outdoor), a fully equipped gym and the multi-awarded Grande Bretagne ESPA Spa.
            </p>
            <iframe height="350" width="300" src="https://www.youtube.com/embed/cqW8wUJ3kAA"></iframe>
            <div class="btn1">
                <button>Check</button>
            </div>
        </div>
        <div class="box box2">
            <h1>KIVOTOS, MYKONOS</h1>
            <p>Wrapped in the emerald waters of Ornos, Kivotos overlooks its own private beach. Built on a rocky slope, it impresses with its stunning collection of modern art and rare antiques, impeccable and personalized service, and the ideal location
                just minutes away from the center of Mykonos Town. Elegance and refined luxury characterize every corner. The world-class facilities of Kivotos include the impressively decorated and luxuriously appointed rooms and suites (39 in its entirety),
                an incredible villa with a private pool and secluded beach area, two swimming pools with open-air Jacuzzis, a spa, a state-of-the-art fitness center, a private beach, squash court, three restaurants and bars, an art gallery, boutique,
                hair salon, a scenic chapel within its premises for weddings, and a private yacht available for daily cruises and romantic private dinners, anchored in the bay of Ornos just in front of the hotel.

            </p>
            <iframe height="350" width="300" src="https://www.youtube.com/embed/_8EmlsvfQUs"></iframe>
            <div class="btn2">
                <button>Check</button>
            </div>
        </div>
        <div class="box box3">
            <h1>ELOUNDA BEACH HOTEL & VILLAS, CRETE</h1>
            <p>The first fully-fledged five-star hotel in Greece, Elounda Beach Hotel & Villas put the the sleepy fishing village of Elounda in northeast Crete on the map in 1971. Since then half a dozen pretenders have squeezed into Mirabello bay, jostling
                for a sea-view slot, but Elounda Beach will always have the prime position. The property includes several mini-resort-like clusters, like the Yachting Club, whose state-of-the-art bungalows have electric sliding glass doors and retractable
                television screens. Guests can enjoy the peace and quiet of two private beaches, a treatment at the acclaimed spa Espace Vitalité Chenot, or a delicious meal at one of nine world-class restaurants.</p>
            <iframe height="350" width="300" src="https://www.youtube.com/embed/Rkf8FFvppRM"></iframe>
            <div class="btn3">
                <button>Check</button>
            </div>
        </div>
    </div>
    <div class="contact-box">
        <h2>BOOK APPOINTMENT</h2>
        <div class="form">
            <input type="text" placeholder="Name">
            <br>
            <input type="text" placeholder="E-mail">
            <br>
        </div>
        <div class="form1"> <input type="text" placeholder="Subject"></div>
        <br>
        <button>Submit</button>
    </div>
</body>

</html>