<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BEST OFFERS</title>
        <link rel="stylesheet" href="offers.component.scss">
    </head>
    <body>
        <div class ="main-head">
            <div class="banner-text">
                <h1><span>SPECIAL OFFERS</span></h1>
            </div>
            <div class="btn">
                <button>Book Now</button>
            </div>
        </div>
      


        <div class="container">
            <div class="form2">
            <div class="box box1">
                <h1>Athens and Mykonos Discount Vacation (6 days / 5 nights)</h1>
                <IMG width="300px" align="right" SRC="mykonos.png">
                <h2 style="font-style: italic;"><font size="3">---2 nights Athens and 3 nights in Mykonos island---</font></h2>
                <p> 6 day Greece tour. Visit Athens and Mykonos with this discount holiday package.</p>
                <div class="btn1">
                    <button>View Details</button>
                </div>
            </div>
            <div class="box box2">
                <h1>Crete, Santorini, Mykonos, Athens Discount Vacation Package</h1>
                <IMG width="300px" align="right" SRC="creta.png">
                    <h2 style="font-style: italic;"><font size="3">---Crete, Santorini & Mykonos: 3 Nights each and 2 Nights Athens---</font></h2>
                <p>Greece island hopping special offer deal. Tour Athens and the romantic Greek islands with this discount vacation package.                                                  
                </p>
                <div class="btn2">
                    <button>View Details</button>
                </div>
            </div>
            <div class="box box3">
                <h1 >5-Day Tour in Corinth, Delphi, Mycenae, Olympia, Meteora & Cog Railway Trip</h1>
                <IMG heigt="500px" width="300px" align="right" SRC="corint.png">
                <p>Book this 5-day classical tour package Greece and visit the Lace of Caves, Argolis, Olympia Delphi, Meteora & tour in Ancient Corinth, one of Saint Paul’s beloved cities.</p>
                <div class="btn3">
                    <button>View Details</button>
                </div>
        </div>
            </div>
        </div>




    </body>
</html>